{{ partial "header.html" . }}

<main class="content" role="main">

  <div class="archive">
    <h2 class="archive-title">{{ .Data.Key }}</h2>
    {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
    {{ range $taxonomy.Pages }}
    <article class="archive-item">
      <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>
    </article>
{{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}
